.container{
    width: 1000px;
    height: 50px;
}

.satu{
    border: solid;
    width: 200px;
    height: 200px;
    background-color:  green;
    float: left;
    margin-left: 300px;
    margin-top: 50px;
    box-shadow: 30px 30px black;

    border-image-repeat: round;
    border-image-slice: 20 22;
    border-image-width: 20px;
    border-image-outset: 20px;
    border-image-source: url("img/hearts.png");
}

.dua{
    border: solid;
    width: 200px;
    height: 200px;
    background-color:  blue;
    float: left;
    margin-left: 300px;
    margin-top: 80px; 
    box-shadow: black 10px 10px 30px;

    border-image-repeat: repeat;
    border-image-outset: 16px;
    border-image-slice: 33%;
    border-image-width: 14%;
    border-image-source: url("img/border1.png");
}
